
body{
    background-color: $offwhite;
    background-image: url("../images/sandbackground.png");
}


.buttonred{
    background-color: $red;
    width: 20px 50px;
    border-radius: 10px 0px 10px 0px;
    text-align: center;
    color: $yellow;
    padding: 5px;
    margin: 5px;
    font-family: 'crimsonregular'
    
}

.buttonyellow{
    background-color: $yellow;
    width: 20px 50px;
    border-radius: 10px 0px 10px 0px;
    text-align: center;
    color: $dgreen;
    padding: 5px;
    margin: 5px;
    font-family: 'crimsonregular'
}


.buttondg{
    background-color: $dgreen;
    width: 20px 50px;
    border-radius: 10px 0px 10px 0px;
    text-align: center;
    color: $offwhite;
    padding: 5px;
    margin: 5px;
    font-family: 'crimsonregular'
}

.buttonbrown{
    background-color: $brown;
    width: 20px 50px;
    border-radius: 10px 0px 10px 0px;
    text-align: center;
    color: $dgreen;
    padding: 5px;
    margin: 5px;
    font-family: 'crimsonregular'
}


.buttonlg{
    background-color: $lgreen;
    width: 20px 50px;
    border-radius: 10px 0px 10px 0px;
    text-align: center;
    color: $dgreen;
    padding: 5px;
    margin: 5px;
    font-family: 'crimsonregular'
}
.squaredg{
    background-color: $dgreen;
    border-radius: 20px;
    
}

.squarelg{
    background-color: $lgreen;
    border-radius: 20px;
}

.squarered{
    background-color: $red;
    border-radius: 20px;
}

.squarebrown{
    background-color: $brown;
    border-radius: 20px;
}

.squaresand{
    background-color: $offwhite;
    border-radius: 20px;
    
}

.squareyellow{
    background-color: $yellow;
    border-radius: 20px;
}

.squareblue{
    background-color: $blue;
    border-radius: 20px;
}


a:hover{
    text-decoration: none;
    color: none;
}

p a{
    text-decoration: none;
}

.title{
    font-size: 6rem;
    padding-top: 2rem;
    color: $lgreen;
}

.textblue{
    color: $blue;
}

.textred{
    color: $red;
}

.textlgreen{
    color: $lgreen;
}

.textdgreen{
    color: $dgreen;
}

.textyellow{
    color: $yellow;
}

.textbrown{
    color: $brown;
}


h1{
    font-family: 'brown_cakeregular';
    font-size: 8rem;
}

h2{
    font-family: 'brown_cakeregular';
    font-size: 4rem;
}

p{
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
}

.bodyheavy{
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
}

h3{
    font-family: 'crimsonregular';
}

.writing{
    font-family: 'floriesregular';
    font-size: 35px;
    margin-top: 3rem;
}



.placestostay{
    img{
        width: 70%;
        margin: 30px;
    }
}
 
.header{
    p{
        font-size: 1.5rem;
    }
}
.snowstory{
    p{
        padding-top: 2rem;
        margin-right: 20px;
        font-size: 23px;
        margin-bottom: 10rem;
    }
}

.bottom{
    overflow-x: hidden;
}


.reindeer ul{
 list-style: none;

     li::before {content: "•"; color: red;
        display: inline-block; width: 1em;
        margin-left: -1em}
      
     li:nth-child(1){
         background-color: $red;
       }
       li:nth-child(2) {
         background-color: $dgreen;
       }
       li:nth-child(3) {
         color: $blue;
       }
       li:nth-child(4) {
         color: $brown;
       }
       li:nth-child(5) {
         color: $yellow;
       }
       li:nth-child(6) {
         color: $lgreen;
       }
    
}
nav{
    
    
    p{
        font-size: 20px;
        color: $red;
        text-decoration: none;
        font-family: 'crimsonregular';
        text-align: center;
    }

    p:hover{
        color: $dgreen !important;
        border-bottom: $red 1px solid;
    }

    img{
        align-items: center;
        margin: 0 auto;
    }
}

.active{
    color: $dgreen !important;
    border-bottom: $red 1px solid;
}



/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on November 27, 2023 */



@font-face {
    font-family: 'brown_cakeregular';
    src: url('../fonts/brown_cake.woff2') format('woff2'),
         url('fonts/brown_cake.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'crimsonregular';
    src: url('../fonts/crimsonregular.woff2') format('woff2'),
         url('../fonts/crimsonregular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'floriesregular';
    src: url('../fonts/floriesregular.woff2') format('woff2'),
         url('../fonts/floriesregular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}